.content-area {
    background: black;
}

// Solid white border
.navbar {
    .container {
        border-top: 1px white solid;
        border-bottom: 1px white solid;
    }
}

.container {
    max-width: 960px;
    .widget-area {
        background: black;
    }
}
