.content-area {
    background: black;
}

// Solid white border
.navbar {
    .container {
        border-top: 1px white solid;
        border-bottom: 1px white solid;
    }
}

.container {
    max-width: 960px;
    #right-sidebar-content{
        background: black;
    }
}

h2, h3, h4 {
    color: $yellow;
}
